/* Accessibility */
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mainContent {
  background-color: var(--secondary-color);
  display: grid;
  place-content: center;
  min-height: 100%;
  font-family: var(--primary-font); /* Montserrat */
}

.product {
  background-color: var(--pure-white);
  border-radius: var(--border-radius);
  max-width: 90vw;
  font-family: var(--primary-font); /* Montserrat */
  margin: 4rem auto;
}

.productImgContainer {
  margin: 0;
}

.productImg {
  position: relative;
}

.productImgMobile {
  display: block;
}

.productImgDesktop {
  display: none;
}

.img {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
  height: auto;
}

.productContent {
  padding: var(--lg-spacing);
}

.productCategory {
  font-family: var(--primary-font); /* Montserrat */
  font-size: var(--sm-font-size);
  font-weight: var(--base-font-weight);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  color: var(--tertiary-color);
}

.productTitle {
  font-family: var(--secondary-font); /* Fraunces */
  color: var(--black);
  font-size: var(--lg-font-size);
  font-weight: var(--bold-font-weight);
  line-height: 32px;
  margin: var(--base-spacing) 0;
}

.productDescription {
  font-family: var(--primary-font); /* Montserrat */
  line-height: 23px;
  color: var(--tertiary-color);
  margin: 0;
  font-weight: 400;
}

.productPricing {
  display: flex;
  align-items: center;
  gap: 1.357rem;
  margin: var(--md-spacing) 0;
}

.productFinal {
  font-family: var(--secondary-font); /* Fraunces */
  color: var(--deep-aquamarine);
  font-size: var(--lg-font-size);
  font-weight: var(--bold-font-weight);
  margin: 0;
}

.productOriginal {
  font-family: var(--primary-font); /* Montserrat */
  text-decoration: line-through;
  color: var(--tertiary-color);
  margin: 0;
  font-weight: 400;
}

.productBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--deep-aquamarine);
  border: none;
  border-radius: var(--border-radius);
  color: var(--pure-white);
  cursor: pointer;
  font-family: var(--primary-font); /* Montserrat */
  font-size: var(--font-size);
  font-weight: var(--bold-font-weight);
  line-height: normal;
  padding: 1rem 2rem;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease;
}

.productBtn:hover {
  background-color: hsl(158, 36%, 25%);
}

.productBtnIcon {
  margin: 0 var(--xs-spacing) 0 0;
  width: 15px;
  height: auto;
}

/* Desktop styles */
@media screen and (min-width: 600px) {
  .product {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .productImgMobile {
    display: none;
  }

  .productImgDesktop {
    display: block;
  }

  .img {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}