.card {
  background-color: var(--ol-colors-neutral-0, #FFF);
  border-radius: var(--ol-spacing-150, 0.75rem);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.24);
  color: var(--ol-colors-neutral-800, #333950);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: var(--ol-spacing-500, 2.5rem) var(--spacing-250, 1.25rem);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Kumbh Sans";
}

.card h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  margin: auto auto var(--ol-spacing-200) auto;
}

.subtitle {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  margin: auto auto var(--ol-spacing-100) auto;
}

.description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: auto auto var(--ol-spacing-600) auto;
}

.features {
  list-style-type: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: auto auto var(--ol-spacing-600) auto;
}

.featureItem {
  padding: 0 0 var(--ol-spacing-200) 0;
}

.featureItem:last-child {
  padding: 0;
}

.link {
  border-radius: var(--ol-corner-radius-full, 62.4375rem);
  background-color: var(--ol-colors-blue-100, #E4EAFF);
  color: var(--ol-colors-blue-500, #5175FF);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: var(--ol-spacing-150, 0.75rem) var(--ol-spacing-500, 2.5rem);
}

.card:nth-child(odd) {
  color: var(--ol-colors-neutral-900, #25293A);
}

.card:nth-child(odd) .link:hover {
  color: var(--ol-colors-neutral-0, #FFF);
  background: var(--ol-colors-blue-500, #5175FF);
}

.card:nth-child(even) {
  background-color: var(--ol-colors-blue-500, #5175FF);
  color: var(--ol-colors-neutral-0, #FFF);
}

.card:nth-child(even) .link {
  background-color: var(--ol-colors-neutral-0, #FFF);
}

.card:nth-child(even) .link:hover {
  background: var(--ol-colors-blue-100, #E4EAFF);
}

@media screen and (min-width: 1000px) {
  .card {
    width: 100%;
    max-width: 360px;
  }
}