.container {
  background: linear-gradient(
    to bottom,
    var(--ol-colors-neutral-50) 0%,
    var(--ol-colors-neutral-50) 50%,
    var(--ol-colors-neutral-900) 50%,
    var(--ol-colors-neutral-900) 100%
  );
  margin: 0;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500, 2.5rem);
  border-radius: var(--ol-corner-radius-12, 0.75rem);
  background: var(--ol-colors-neutral-0, #FFF);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.16);
}

.submitButton {
  display: inline-block;
  padding: 1rem var(--ol-spacing-500, 2.5rem);
  color: var(--ol-colors-neutral-50);
  border: none;
  border-radius: var(--ol-corner-radius-full);
  font-weight: 700;
  letter-spacing: .75px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.25);
  border-radius: var(--ol-corner-radius-full, 62.4375rem);
  background-color: var(--ol-colors-blue-500, #5175FF);
}

.submitButton:hover {
  border: 2px solid var(--ol-colors-neutral-50);
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 0px 3px var(--ol-colors-neutral-0), 0px 0px 0px 5px var(--ol-colors-blue-500);
}

@media screen and (min-width: 767px) {
  .form {
    width: 100%;
    padding: 1rem;
  }

  .submitButton {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
  }
  
  .container {
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--ol-spacing-500, 2.5rem);
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background: linear-gradient(
      to right,
      var(--ol-colors-neutral-50) 0%,
      var(--ol-colors-neutral-50) 50%,
      var(--ol-colors-neutral-900) 50%,
      var(--ol-colors-neutral-900) 100%
    );
  } 
}
