@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

input,
button {
  font: inherit;
}

html {
  font-family: var(--ba-primary-font);
  font-optical-sizing: var(--ba-font-optical);
  font-size: var(--ba-font-size);
  font-style: var(--ba-primary-font-style);
  font-weight: var(--ba-base-font-weight);
  line-height: var(--ba-base-line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--ba-bold-font-weight);
}

body {
  background: var(--ba-light-gradient)
}

header {
  height: 10.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  max-width: 150px;
}

.announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.call-out {
  font-size: 2.5rem;
  letter-spacing: 0.67rem;
  line-height: 1.15;
  text-transform: uppercase;
}

.ann-one {
  font-weight: var(--ba-thin-font-weight);
  color: var(--ba-primary-color);
}

.ann-two {
  font-weight: var(--ba-bold-font-weight);
  color: var(--ba-primary-neutral-gray);
}

.message {
  color: var(--ba-primary-color);
  font-size: var(--ba-small-font-size);
  line-height: 1.375;
  margin: 1rem 0 2rem 0;
}

.form-layout {
  margin: auto auto 2rem auto;
  width: 100%;
}

.form-control {
  border: none;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid var(--ba-primary-color);
  border-radius: 28px;
  background-color: transparent;
  padding: .75rem;
  width: 100%;
  flex-grow: 1;
}

.input::placeholder {
  color: var(--ba-primary-color);
  line-height: 200%;
  opacity: 0.5;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
  border: 1px solid var(--ba-border-color);
  border-radius: 28px;
  cursor: pointer;
  box-shadow: 0px 15px 20px 0px hsla(0, 44%, 60%, 0.25);
  padding: 1rem;
  width: 64px;
  height: 48px;
  right: 0px;
}

.arrow {
  width: 18px;
  height: 22px;
}

.error-icon, button {
  position: absolute;
}

.error-icon {
  right: 70px;
}

.error-message {
  color: var(--ba-primary-soft-red);
  font-size: var(--ba-error-font-size);
  text-align: left;
  margin: .25rem auto auto 1rem;
}

.error-icon,
.error-message {
  display: none;
}

.success-message {
  background-color: white;
  border-radius: 28px;
  box-shadow: var(--ba-box-shadow-color) 0px 5px 15px;
  font-size: 1rem;
  font-weight: 900;
  padding: 2rem;
  margin: 2rem auto;
}

@media (min-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 7.5vh 2fr ;
    grid-template-areas:
      "header aside"
      "main aside";
    height: 80vh;
  }

  .header {
    grid-area: header;
    width: 100%;
    margin: auto auto auto calc(33vw - 222.5px);
  }

  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 445px;
    margin: auto;
  }

  .announcement {
    text-align: left;
    align-items: center;
  }

  .announcement h2 {
    font-size: 4rem;
  }


  .hero {
    grid-area: aside;
  }

  .input {
    padding: .75rem;
  }

  .form-layout button {
    width: 6rem;
    height: 3rem;
    padding: .75rem;
  }

  .icon {
    right: 105px;
  }

}
