.logo {
  max-width: 150px;
}

.announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.callOut {
  font-size: 2.5rem;
  letter-spacing: 0.67rem;
  line-height: 1.15;
  text-transform: uppercase;
}

.annOne {
  font-weight: var(--ba-thin-font-weight);
  color: var(--ba-primary-color);
}

.annTwo {
  font-weight: var(--ba-bold-font-weight);
  color: var(--ba-primary-neutral-gray);
}

.message {
  color: var(--ba-primary-color);
  font-size: var(--ba-small-font-size);
  line-height: 1.375;
  margin: 1rem 0 2rem 0;
}

.formLayout {
  margin: auto auto 2rem auto;
  width: 100%;
}

.formControl {
  border: none;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid var(--ba-primary-color);
  border-radius: 28px;
  background-color: transparent;
  padding: .75rem;
  width: 100%;
  flex-grow: 1;
}

.input::placeholder {
  color: var(--ba-primary-color);
  line-height: 200%;
  opacity: 0.5;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
  border: 1px solid var(--ba-border-color);
  border-radius: 28px;
  cursor: pointer;
  box-shadow: 0px 15px 20px 0px hsla(0, 44%, 60%, 0.25);
  padding: 1rem;
  width: 64px;
  height: 48px;
  right: 0px;
  position: absolute;
}

.arrow {
  width: 18px;
  height: 22px;
}

.errorIcon {
  position: absolute;
  right: 70px;
  display: none;
}

.errorMessage {
  color: var(--ba-primary-soft-red);
  font-size: var(--ba-error-font-size);
  text-align: left;
  margin: .25rem auto auto 1rem;
  display: none;
}

.successMessage {
  background-color: white;
  border-radius: 28px;
  box-shadow: var(--ba-box-shadow-color) 0px 5px 15px;
  font-size: 1rem;
  font-weight: 900;
  padding: 2rem;
  margin: 2rem auto;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 7.5vh 2fr;
  grid-template-areas:
    "header aside"
    "main aside";
  height: 80vh;
}

.header {
  grid-area: header;
  width: 100%;
  margin: auto auto auto calc(33vw - 222.5px);
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 445px;
  margin: auto;
}

.hero {
  grid-area: aside;
}

@media (min-width: 600px) {
  .announcement {
    text-align: left;
    align-items: center;
  }

  .callOut {
    font-size: 4rem;
  }

  .submitButton {
    width: 6rem;
    height: 3rem;
    padding: .75rem;
  }

  .errorIcon {
    right: 105px;
  }
}
